<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<form action="/submit" method="post">
			<div>
				<label for="name">Name</label>
				<input type="text" name="name" id="" />
			</div>
			<div>
				<label for="locations">locations</label>
				<select name="locations" id="">
					<option value="online">online</option>
					<option value="chicago">chicago</option>
					<option value="seattle">seattle</option>
					<option value="california">california</option>
				</select>
			</div>
			<div>
				<label for="fav_stack">favorite stack</label>
				<select name="fav_stack" id="">
					<option value="web_fun">web fund</option>
					<option value="python">python</option>
					<option value="murn">murn</option>
					<option value="c#">c#</option>
				</select>
			</div>

			<div>
				<label for="comment">Comment</label>
				<textarea name="comment" id="" cols="30" rows="10"></textarea>
			</div>
			<input type="submit" />
		</form>
	</body>
</html>
